<table>
  <tr>
    <th>Pet Name</th>
    <th>Pet Type</th>
    <th>Assigned Vet</th>
    <th>Owner</th>
  </tr>
  <% @pets.each do |pet| %>
  <tr>
    <td><a href = "/pets/<%= pet.id%>/edit" ><%= pet.name%> </a></td>
    <td><a href = "/pets/<%= pet.id%>/edit" ><%= pet.pettype.pet_type%></a></td>
    <td><a href = "/pets/<%= pet.id%>/edit" ><%= pet.vet.name%></a></td>
    <td><a href = "/pets/<%= pet.id%>/edit" ><%= pet.owner.name%></a></td>
  </tr>
  <% end %>
</table>
