<h2><%= @pet.name %></h2>

<div class="noform-wrapper">
  <table>
    <tr>
      <td><strong>Pet Name:</strong></td><td><%= @pet.name%></td>
    </tr>
    <tr>
      <td><strong>Date of Birth:</strong></td><td><%= @pet.date_of_birth%></td>
    </tr>
    <tr>
      <td><strong>Type:</strong></td><td><%= @pet.pettype.pet_type%></td>
    </tr>
    <tr>
      <td><strong>Owner's Name:</strong></td><td><%= @pet.owner.name%></td>
    </tr>
    <tr>
      <td><strong>Vet:</strong></td><td><%= @pet.vet.name%></td>
    </tr>
    <tr>
      <td><strong>Treatment Notes:</strong></td>
    </tr>
    <tr>
      <td><%= @pet.treatment_notes%></td>
    </tr>
  </table>

  <div>
    <form action="/pets/<%= @pet.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
