<h2><%= @vet.name %></h2>

<p><strong>Vet:</strong> <%= @vet.name %></p>

<p><strong>Mobile:</strong> <%= @vet.mobile %></p>

<p><a href="/vets/<%= @vet.id %>/edit"><button type="button">Edit</button></a></p>

<p><a href="/vets/warning"><button type="button">Delete</button></a></p>

<!-- <form action="/vets/<%= @vet.id %>/delete" method="POST"><input type="submit" value="Delete"></form> -->
