<table>
  <tr>
    <th>Vet</th>
  </tr>
  <% @vets.each do |vet| %>
  <tr>
    <td><a href='/vets/pets/<%= vet.id %>'><%= vet.name %></a></td>
  </tr>
<% end %>

  </table>

  <hr />


  <table>
    <tr>
      <th style = "background-color:green;">Pet Name</th>
      <th>Pet Type</th>
      <th>Assigned Vet</th>
    </tr>
    <% @pets.each do |pet| %>
    <tr>
      <td><a href = "/pets/<%= pet.id%>/edit" ><%= pet.name%> </a></td>
    <td><a href = "/pets/<%= pet.id%>/edit" ><%= pet.pettype.pet_type%></a></td>
      <td><a href = "/pets/<%= pet.id%>/edit" ><%= pet.vet.name%></a></td>
    </tr>
    <% end %>
  </table>
