
<ul>
 <% @vets.each do |vet| %>
   <li>
     <a href='/vets/pets/<%= vet.id %>'><%= vet.name %></a>
   </li>
 <% end %>
</ul>

<% @pets.each do |pet| %>
  <table>
    <tr>
      <td><a href = "/pets/<%= pet.id%>" ><%= pet.name%> </a></td>
    <td><%= pet.pettype.pet_type%></td>
      <td><%= pet.vet.name%></td>
    </tr>
  </table>
<% end %>
