<table>
  <tr>
    <td><strong>Owner Name:</strong></td><td><%= @owner.name%></td>
  </tr>
  <tr>
    <td><strong>Mobile:</strong></td><td><%= @owner.mobile%></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td><td><%= @owner.email%></td>
  </tr>
</table>

<table class="button-bar">
  <tr>
    <td><a href="/owners/<%= @owner.id %>/edit"><button type="button">Edit</button></a></td>
    <td><form action="/owners/<%= @owner.id %>/delete" method="POST"><input type="submit" value="Delete"  style = "width:100px;"></form></td>
  </tr>
</table>
