<!-- 
<div class = "owner_details">

  <p><strong>Owner Name:</strong> <%= @owner.name %></p>

  <p><strong>Mobile:</strong> <%= @owner.mobile %></p>

  <p><strong>Email:</strong> <%= @owner.email %></p>

</div> -->

<div class="xform-wrapper">
<table>
  <tr>
    <td><strong>Owner Name:</strong></td><td><%= @owner.name%></td>
  </tr>
  <tr>
    <td><strong>Mobile:</strong></td><td><%= @owner.mobile%></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td><td><%= @owner.email%></td>
  </tr>
</table>


<p><a href="/owners/<%= @owner.id %>/edit"><button type="button">Edit</button></a></p>

<p><form action="/owners/<%= @owner.id %>/delete" method="POST"><input type="submit" value="Delete"></form></p>
